/*.baixo a {
	color: #222;
	font-family: 'Arial';
	padding: 2px;
}

a:hover {
	color:#000000;
	text-decoration:none;
  }


.baixo li {
	padding-top: 1%;
	
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
  }
  footer {
	background-color: #f2f2f2;
	padding: 25px;
	text-decoration: none;
  }

  .carousel-inner img {
	width: 580px;
	/* Set width to 100% 
	margin: auto;
	min-height: 200px;
  }

  .center {
	margin: auto;
	border: 3px solid white;
	padding: 0%;
	text-align: center;
  }

  @media (max-width: 600px) {
	.carousel-caption {
	  display: none;
	}
  }

  .borda-bot {
	text-align:center;
	margin: 10px;
	border-bottom: 2px groove grey;
	padding-bottom: 2%;
	padding-top: 1%;
  }

  .texto-footer{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
  }

  .sombra{
	text-shadow: 5px 5px 5px grey;
  }
*/




  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
	margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
	bottom: 3rem;
	z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
	height: 32rem;
  }
  /*.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
  } */
  
  .carousel-item img{
    width: 100%;
    transform: translateY(-13%);
  }

  .black{
    color: black;
  }
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
  }
  .marketing h2 {
	font-weight: 400;
  }
  .marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
  }
  
  
  .borda-bot {
    text-align:center;
    margin: 10px;
    border-bottom: 2px groove grey;
    padding-bottom: 2%;
    padding-top: 1%;
    }
  
  .featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  .featurette-heading {
	font-weight: 300;
	line-height: 1;
  letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 63em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
	  margin-bottom: 1.25rem;
	  font-size: 1.25rem;
    line-height: 1.4;
    text-size-adjust: 50%;
  }
  
  .carousel-item img{
    width: auto;
    height: 120%;
  }

	.featurette-heading {
	  font-size: 50px;
  }
  
  .pad{
    padding-top: 20%;
  }
  }
  
  @media (min-width: 62em) {
	.featurette-heading {
	  margin-top: 7rem;
  }
  
  }

  