<!DOCTYPE html>
<html lang="en">

<head>
  <title>P VARIEDADES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/coc1.png" />
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bem-vindo(a)</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="#">ROUPAS</a></li>
          <li><a href="#">TÊNIS</a></li>
          <li><a href="#">ACESSÓRIOS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/cadastro"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="input-group col-md-12 center">
    <span class="input-group-addon input-sm" id="basic-addon1">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <input type="text" placeholder="Encontre o que está procurando aqui" required value="" class="form-control input-sm"
      name="buscaIndex" />

    <div class="input-group-btn border border-dark">
      <button class="btn btn-success btn-sm " type="submit">Buscar</button>
    </div>
  </div>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/propaganda.png" alt="Image">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item"><a href="/cadastro">
          <img src="images/promo1.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Tênis Oakley</h3>
          </div>
        </a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container text-center">
    <h3 class="sombra">Novidades</h3><br>
    <div class="row">
      <div class="col-sm-4"><a href="/acessorios">
        <img src="images/colete1.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
        <h3 class="sombra">AP VEST</h3>
      </div>

      <div class="col-sm-4">
        <img src="images/medusa2.jpg" class="img-responsive" style="width:100%" alt="Image">
        <h3 class="sombra">MEDUSAS</h3>
      </div>

      <div class="col-sm-4">
        <img src="images/tenis2.jpg" class="img-responsive" style="width:100%" alt="Image">
        <h3 class="sombra">TÊNIS</h3>
      </div>

    </div>
  </div><br>
  <style>


  </style>


  <footer class="col-sm-12 baixo" style="float:center;">
    <div class="borda-bot">
      <a href="/contato"><img src="images/contato.png"> Contato</a>

      <a href="/sobre"><img src="images/sobre.png"> Sobre</a>
    </div>

    <div class="borda-bot ">

      <a onCLick="window.open('https://www.instagram.com/p_variedadesrp/','_blank');" href=""><img
          src="images/insta.png"></a>
      <span style="padding: 20px;"></span>
      <a onCLick="window.open('https://www.facebook.com/PVariedadesRp/','_blank');" href=""><img
          src="images/facebook.png"></a>

    </div>
    <br>
    <p class="text-center texto-footer">© Copyright 2020. Todos os direitos reservados. Lojas P VARIEDADES. São José do
      Rio Preto -
      SP - Brasil.</p>

  </footer>


</body>

</html>